body {
  margin: 0px;
  padding: 0px;
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
  width: 100%;
}

img {
  list-style-type: none;
  max-height: 100%;
}

button {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50%;
}

.container {
  display: flex;
  height: 60px;
  position: relative;
  z-index: 10;
-webkit-box-shadow: 0px -71px 100px 34px rgba(0,0,0,1);
-moz-box-shadow: 0px -71px 100px 34px rgba(0,0,0,1);
box-shadow: 0px -71px 100px 34px rgba(0,0,0,1);
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

ul.navbar li {
  float: left;
}

ul.navbar li a {
  display: inline-block;
  text-align: center;
}

.divided {
  display: inline-block;
  position: relative;
  width: 120px;
  text-align: center;
  padding: 21px 0px;
}

.divided:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0px;
  width: 100%;
  background: transparent;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.divided:hover:after {
  height: 3px;
  background: #1C3E93;
}

.fullwidth {
  width: 100vw;
}

.slider {
  position: absolute;
  max-width: 100%;
  height: 60vh;
  margin: 0 auto;
}

.slick-slide {
  margin: 0px;
  overflow: hidden;
}

.slick-slide img {
  width: 100%;
  margin: 0 auto;
  overflow: auto;
  height: 60vh;
}

.slick-prev:before,
.slick-next:before {
color: grey;
}

#opt1 {
  padding-left: 3px;
}

#logo {
  padding-left: 20px;
  height: 60px;
}

#home {
  padding-left: 15px;
}
